*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	background: #404041; /*282c3f*/
}
body{
	}
#start{
	height: 724px;
}
.row_start{
	height:33.3%;
	width:auto;
	display: flex;
	flex-direction: column;	
	justify-content: center;
}
.tenco_brand{
	height: 150px;
}

.start_nav{
	display: flex;
	justify-content: center
}
.start_nav a{
	display: flex;
	justify-content: center
}
#who_am_i{
	height: 724px;
	background-image: url(../img/dantest.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 100% auto; /*ajustar imagen y el size*/
}
.who_text{
	color:#282c3f;
}

#skills{
	background: #222;
}

#portfolio{
	height: 724px;
}
.portfolio_text{}

#ask_me{
height: 724px;
}
.ask_me_text{}

#form{
	width: 50%;
	display: flex;
	flex-direction: column;
}

footer{
	color:#FFF;
	text-align: center;
	background:#222;
}
footer>p{padding: 20px;}