*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	background: #282c3f; /*282c3f  // 404041 */
}
body{}

#start{
	height: 95%;
	min-height: 724px;
	max-height: 1024px;
}

.row-header{
	display: flex !important;
	justify-content: center;
}

.row{
	width:100%;
	display:flex;
	min-height: 100px;
}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.67%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

/* = = = = = = finaliza AJUSTES  GRALES = = = = = */

header{
	width: 425px;
	display: flex;
	flex-direction:column;
	flex-wrap: nowrap;
	margin-top: 90px;
}
.tenco_brand{
	width:100%;
	display: block;
	margin-bottom: 20px;
}
.slogan{
	color:#e192b4;
	font-family: 'Raleway', sanserif;
	font-size: 1.5em;
	font-variant: small-caps;
	letter-spacing: 4px;
	font-weight: 400;
	text-align: center;/*
	border-top: solid 1px #95d0da;
	border-bottom: solid 1px #95d0da;*/
	padding: 15px 0px 20px;
}
#linea{
	width: 425px;
	height:3px;
}

#start_nav{
	display: flex;
}
#start_nav a{
	color: #FFF;
	font-family: 'Raleway', sanserif;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	width:150px;
	padding: 50px 0px 25px 0px;
	border-bottom:solid 3px rgba(0,0,0,0);
}
#start_nav>a:hover{
	border-bottom:solid 3px #a1cfdf;
	transition: 0.3s;
	text-shadow: 0px 0px 10px #000;
}
#start_nav>a:active{
	border-bottom:solid 3px #87dc0f;
	transition: 0.3s;
	text-shadow: 0px 0px 10px #000;
}

.row-social{
	margin-top: 40px;
	width: 90%;
	align-self:center
}
#social{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px 0px;
}
[class |= social_button]{
	height:37px;
	width:37px;
	margin:10px;
	border-radius: 100%;
	box-shadow: 0px 5px 5px rgba(2,2,2,0.2);
}

.social_button-fb{
	background-image: url(../img/face-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social_button-fb:hover{
	background-image: url(../img/face-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-fb:active{
	background-image: url(../img/face-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}

.social_button-inst{
	background-image: url(../img/instagram-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social_button-inst:hover{
	background-image: url(../img/instagram-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-inst:active{
	background-image: url(../img/instagram-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}

.social_button-pint{
	background-image: url(../img/pinterest-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social_button-pint:hover{
	background-image: url(../img/pinterest-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-pint:active{
	background-image: url(../img/pinterest-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}

.social_button-link{
	background-image: url(../img/linkedin-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social_button-link:hover{
	background-image: url(../img/linkedin-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-link:active{
	background-image: url(../img/linkedin-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}

.social_button-menu{
	background-image: url(../img/menu-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
	display:none;/* MODIFICAR*/
}
.social_button-menu:hover{
	background-image: url(../img/menu-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-menu:active{
	background-image: url(../img/menu-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}


/* = = = = = = finaliza HEADER = = = = = */


#who_am_i{
	height: 95%;
	min-height: 724px;
	max-height: 1024px;
	background-image: url(../img/dantest2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; /*ajustar imagen y el size*/
}
.container{
	width:80%;
	margin: auto;
	padding:50px 0px 100px;
}
.who_text{
	color:#282c3f;
	width: 60%;
}
.who_text>a{
	color: #FFF;
	background:#282c3f;
	font-family: 'Raleway', sanserif;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	width:150px;
	margin-top: 100px;
	padding: 25px 0px;
	border-bottom:solid 3px rgba(0,0,0,0);
	display: block;
}
.who_text>a:hover{
	color:#282c3f;
	background:#a1cfdf;
	transition: 0.3s;
	}
.who_text>a:active{
	color:;
	background: #87dc0f;
}
/* = = = = = = finaliza QUIEN SOY = = = = = */

#skills{
	height:100%;/*
	min-height:724px;
	max-height: 1024px;*/
	background: #222;
	color:#FFF;
	display: flex;
}

.construction{
	padding-top: 20px;
	width: 200px;
	display: -; /*******     MODIFICAR    *******/
	flex-direction: column;
	margin: auto;
}
.circulosss{	
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.construction>p{
	text-align: center;
	font-size:1em;
	color:#a1cfdf;
}

[class |= circ]{
	width:25px;
	height:25px;
	border-radius:100%;
	margin:5px;
	background-color: #a1cfdf;
	opacity: 0.2;
}
.circ-01{animation:circ01 1s infinite;}
@keyframes circ01{
	0%{}
	10%{opacity: 1;}
	25%{}
	50%{}
	75%{}
	100%{}
}

.circ-02{animation:circ02 1s infinite;}
@keyframes circ02{
	0%{}
	25%{opacity: 1;}
	50%{}
	75%{}
	100%{}
}

.circ-03{animation:circ03 1s infinite;}
@keyframes circ03{
	0%{}
	25%{}
	50%{opacity: 1;}
	75%{}
	100%{}
}

.circ-04{animation:circ04 1s infinite;}
@keyframes circ04{
	0%{}
	25%{}
	50%{}
	75%{opacity: 1;}
	100%{}
}

.circ-05{animation:circ05 1s infinite;}
@keyframes circ05{
	0%{}
	25%{}
	50%{}
	75%{}
	90%{opacity: 1;}
	100%{}
}
.habilidades{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
}
.list-skill{
	width:60%;
}
[class ^=skill-]{
	border-bottom:solid 1px white;
	padding:15px;
	width:-;
}

.valoracion{
	padding-top: 10px;
}
.description-skill{
	color:#95d0da;
	font-size: 0.9em;
	font-weight: 400;
	padding-top: 10px;
}
.skill_text{
	color:#FFF;
	width:40%;
	padding-left: 4vh;
}
/* = = = = = = finaliza HABILIDADES = = = = = */

#portfolio{
	min-height: 724px;
	max-height: 1024px;
}

#portfolio >.container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.portfolio_text{
	width: 40%;
	padding-right: 4vh;
	color:#FFF;
}

#works{
	width: 60%;
}

#works a{
	padding:0px;
	margin:0px;
	position: relative;
	display: flex;
}
.port-1{
	height: 200px;
	display: flex;
}
.port-2{
	height: 150px;
	display: flex;
}
.port-3{
	height: 100px;
	display: flex;
}

[class |= portfolio]{
	border:solid 1px #FFF;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
.portfolio-inst{
	background:url(../img/img-institucional-261x190.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.portfolio-web{
	background:url(../img/dis-web-364x191.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.portfolio-3d{
	background:url(../img/3d-154x140.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.portfolio-pics{
	background:url(../img/retoque-309x140.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.portfolio-disco{
	background:url(../img/disco-154x140.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.portfolio-effect{
	background:url(../img/proximamente.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	display:flex;
	justify-content: center;
}

.curtain{
	width: 100%;
	height:100%;
	background: rgba(243,153,192,0.90); /*rgba(161,207,223,0.9)*/;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	display: flex;
	justify-content: center;
	display: none;
	animation: cortina 0.3s linear;	
}
@-webkit-keyframes cortina{
	0%{opacity: 0;
		height: 0%;
		border-bottom: solid 2px #FFF;
	}
	25%{}
	50%{}
	75%{}
	99%{border-bottom: solid 15px #FFF;}
	100%{opacity: 0.93;
		height: 100%;
	}
}
.shade-text{
	text-align: center;
	position: absolute;
	color:#FFF;
	text-shadow: 0px 0px 10px #000;
	align-self: center;
}

#works a:hover .curtain{
	display: flex;
}

.close{
	height: 45px;
	width: 45px;
	background: #f399c0;
	color:#FFF;
	text-decoration:none;
	text-align: center;
	font-size:30px;
	line-height: 45px;
	font-family: 'Arial', sanserif;	
	border-radius: 50%;
	align-items:flex-end;
	margin: 7px 7px 0px 0px;
	box-shadow: 0px 0px 15px rgba(255,255,255,0.3);
	position:absolute;
	z-index:2;
	margin-left: 46%;
}
.close:hover{
	animation: cerrar 0.3s linear;
}
@-webkit-keyframes cerrar{
	0%{}
	25%{background:#a1cfdf;}
	50%{transform:scale(0.6);}
	100%{}
}

#modal-brand, #modal-web {
	position: absolute;
	height: 100%;
	min-height: 724px;
	max-height: 1024px;
	width:100%;
	background: rgba(0,0,0,0.8);
	z-index: 1;
	display: none;
}
#modal-brand:target, #modal-web:target {
	display: flex;
	flex-direction: row;
	justify-content: center;
	animation: aparicion 0.4s linear;
}

@-webkit-keyframes aparicion{
	from{opacity:0;}
	to{opacity: 1;}
}

.works-brand, .works-web{
	position: relative;
	margin:auto;
	padding: 0px 50px 50px;
	width:95%;
	height:95%;
}
.works-brand{
	display: flex;
	flex-wrap: wrap;
}
#modal-brand{}

[class |= job]{
	background: rgba(225,225,225);
	border-radius: 5px;
	width:48%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
	margin:0px 5px 10px;
}
[class |= job]:hover{background: rgb(255,255,255);}

[class |= jobtext]{
	margin:auto 20px;
	border-left: solid 2px silver;
	padding-left: 15px;
	align-items: flex-start;
}

h2{
	font-family: 'Raleway',sanserif;
}
.bajada{
	font-family: 'Arial', sanserif;
	font-size:0.9em;
	font-style: italic;
	color:#999;
	font-weight: 400;
}

.job-1{order:6;}
.job-2{order:2;}
.job-3{order:1;}
.job-4{order:5;}
.job-5{order:3;}
.job-6{order:4;}

.works-web{
	display: flex;
	flex-direction: column;
}
[class|=web]{
	background: rgba(225,225,255,0.9); 
	display:flex;
	flex-direction: row;
	margin-bottom: 20px;
	padding: 5px 5px 15px 5px;
	border-radius: 5px;
}

.jobtext-7, .jobtext-8{
	margin-top: 20px;
}
iframe{
	width:75%;
	height:300px;
}

/* = = = = = = finaliza PORTFOLIO = = = = = */

#ask_me{
min-height: 724px;
max-height: 1024px;

	background: linear-gradient(180deg,#282c3f,#f399c0);
}
#ask_me>.container{
	display: flex;
	justify-content: space-between;
}
.ask_me_text{
	width: 40%;
	color: #FFF;
}

#form{
	width: 55%;
	display: flex;
	flex-direction: column;

}

input, textarea{
	border:none;
	margin-bottom: 25px;
	padding: 10px;
	border-radius:2px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
input{
	min-height: 50px;
	max-height: 50px;
}
textarea{
	min-width: 100%;
	max-width: 100%;
	min-height: 150px;
	max-height: 150px;
}
::placeholder{
	font-family: 'arial', sanserif;
	font-size: 14px;
}
.send_btn{
	width:150px;
	align-self: flex-end;
	background: #f399c0;
	color:#282c3f;
	font-family: 'Raleway', sanserif;
	font-size: 1em;
	font-weight: 600;
	cursor: pointer;
}
.send_btn:hover{
	background: #a1cfdf;
	color:#282c3f;
}
.send_btn:active{
	background: #87dc0f;
	color:#282c3f;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

#thanks{
	background: rgba(0,0,0,0.8);
	width:100%;
	min-height:724px;
	max-height:1024px;
	height: 100%;
	position: absolute;
	justify-content: center;
	display: none;
}
#thanks:target{
	display: flex;
}
#thanks>h1{
	color:#FFF;
	align-self: center;
	line-height: 105px;
}



/* = = = = = = finaliza CONSULTAS = = = = = */

footer{
	color:#FFF;
	text-align: center;
	background:#222;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	height: 150px;
}
footer>p{
	font-size:0.8em;
	font-weight: 400;
	padding: 20px 10px 0px;
}

h1{
	font-family: 'Exo 2', sanserif;
	font-size: 3em;
}

.row-foot{
	align-self: center
}
.foot_brand{	
	display: flex;
	flex-direction: row;
}
.foot_brand > img{
	height:30px;
}
.foot_brand > p{margin-left: 15px;}
.titulo{
	padding: 10px 10px 20px 10px;
	border-bottom: solid 4px #89c53f;
	display: inline-block;
}

p{
	font-family: 'Raleway', sanserif;
	font-weight: 600;
	font-size: 1em;
	line-height: 1.7em;
}
h1+p{margin-top: 50px;}






/* = = = MEDIA QUERYES = = = */

@media screen and (max-width: 425px){

.row-header{
	justify-content: center;
}
header{
	width:90%;
	margin-top: 60px;
}
.tenco_brand{
	width:80%;
	margin:auto;
	margin-bottom: 25px;
}
.slogan{
	font-size:1.35em;
	letter-spacing: 0.7px;
	border-top:solid 1px #95d0da;
	border-bottom:solid 1px #95d0da;
}
#linea{
	width: 90%;
	margin: auto;
	display: none;
}


#start_nav{
	width: 100%;
	margin: auto;
}
#start_nav>a{
	font-size: 0.8em;
}

#who_am_i{
	background: url(../img/dantest-cel.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.who_text{
	text-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}
.container{
	width:90%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 30px 0px 0px;
}

.who_text, .portfolio_text, .ask_me_text{
	width: 100%;
}


.who_text>a{
	margin:90px auto;
}

#skills{
	display:none;
}
#start, #who_am_i, #portfolio, #ask_me{
	max-height:auto;
}


#portfolio>.container{
display: flex;
flex-direction: column;
padding: 30px 0px 0px;
}


#works{
	width: 100%;
	height: auto;
}

.row{
	width: 100%;
	height:300px;
	margin-top: 30px;
}
.row a{
	width: 100%;
	height:200px;
	margin-bottom: 55px;
}
.port-1{
	display: flex;
	flex-direction: column;
}
.works-brand, .works-web{
	width: 90%;
	padding:0px;
}
[class |= job]{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	padding: 7px 7px 12px;
}
[class |=jobtext]{
	border:none;
	border-top:solid 1px silver;
	width: 100%;
}
[class |=jobtext]>h2{font-size: 1.1em;}
.bajada{display: none;}

.port-2, .port-3{
	display: none;
}
.close{
	margin-left: 40%;
}
.titulo{
	width:100%;
	font-size: 1.7em;
	text-align: center;
}

#portfolio h2{
	padding-top: 15px;
}
[class |= web]{
	width:100%;
	display: flex;
	flex-direction: column;
}
iframe{
	width: 100%;
	height: 250px;

}

p{
	font-size: 1em;
}


#form{
	width:100%;
	margin-top: 10px;
}
.send_btn{
	background:#282c3f;
	color:#FFF;
}
.send_btn:hover{
	background:#a1cfdf;
	color:#282c3f;
}
.send_btn:active{
	background:#87dc0f;
	color:#282c3f;
}
footer{
	height:auto;
	padding-bottom: 20px;
}

} 