*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	background: #282c3f; /*282c3f  // 404041 */
}
body{}

#start{
	height: 95%;
	min-height: 724px;
	max-height: 1024px;
}

.row-header{
	display: flex !important;
	justify-content: center;
}
header{
	width: 425px;
	display: flex;
	flex-direction:column;
	flex-wrap: nowrap;
	margin-top: 90px;
}
.tenco_brand{
	width:100%;
	display: block;
	margin-bottom: 20px;
}
.slogan{
	color:#e192b4;
	font-family: 'Raleway', sanserif;
	font-size: 1.5em;
	font-variant: small-caps;
	letter-spacing: 4px;
	font-weight: 400;
	text-align: center;/*
	border-top: solid 1px #95d0da;
	border-bottom: solid 1px #95d0da;*/
	padding: 15px 0px 20px;
}
#linea{
	width: 425px;
	height:3px;
}

#start_nav{
	display: flex;
}
#start_nav a{
	color: #FFF;
	font-family: 'Raleway', sanserif;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	width:150px;
	padding: 50px 0px 25px 0px;
	border-bottom:solid 3px rgba(0,0,0,0);
}
#start_nav>a:hover{
	border-bottom:solid 3px #a1cfdf;
	transition: 0.3s;
	text-shadow: 0px 0px 10px #000;
}
#start_nav>a:active{
	border-bottom:solid 3px #87dc0f;
	transition: 0.3s;
	text-shadow: 0px 0px 10px #000;
}

.row-social{
	margin-top: 40px;
	width: 90%;
	align-self:center
}
#social{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px 0px;
}
[class |= social_button]{
	height:37px;
	width:37px;
	margin:10px;
	border-radius: 100%;
	box-shadow: 0px 5px 5px rgba(2,2,2,0.2);
}

.social_button-fb{
	background-image: url(../img/face-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social_button-fb:hover{
	background-image: url(../img/face-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-fb:active{
	background-image: url(../img/face-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}

.social_button-inst{
	background-image: url(../img/instagram-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social_button-inst:hover{
	background-image: url(../img/instagram-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-inst:active{
	background-image: url(../img/instagram-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}

.social_button-pint{
	background-image: url(../img/pinterest-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social_button-pint:hover{
	background-image: url(../img/pinterest-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-pint:active{
	background-image: url(../img/pinterest-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}

.social_button-link{
	background-image: url(../img/linkedin-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social_button-link:hover{
	background-image: url(../img/linkedin-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-link:active{
	background-image: url(../img/linkedin-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}

.social_button-menu{
	background-image: url(../img/menu-pink.svg);
	background-repeat: no-repeat;
	background-position: center;
	display:none;/* MODIFICAR*/
}
.social_button-menu:hover{
	background-image: url(../img/menu-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}
.social_button-menu:active{
	background-image: url(../img/menu-green.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
}


/* = = = = = = finaliza HEADER = = = = = */


#who_am_i{
	height: 95%;
	min-height: 724px;
	max-height: 1024px;
	background-image: url(../img/dantest.jpg);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 100% auto; /*ajustar imagen y el size*/
}
.container{
	width:80%;
	margin: auto;
	padding:75px 0px;
}
.who_text{
	color:#282c3f;
	width: 60%;
}
.who_text>a{
	color: #FFF;
	background:#282c3f;
	font-family: 'Raleway', sanserif;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	width:150px;
	margin-top: 45px;
	padding: 25px 0px;
	border-bottom:solid 3px rgba(0,0,0,0);
	display: block;
}
.who_text>a:hover{
	color:#282c3f;
	background:#a1cfdf;
	transition: 0.3s;
	}

/* = = = = = = finaliza QUIEN SOY = = = = = */

#skills{
	height:724px;
	background: #222;
	color:#FFF;
	display: block
}

#portfolio{
	height: 724px;
}
.portfolio_text{
	width: 40%;
}

#ask_me{
height: 724px;
}
#ask_me>.container{
	display: flex;
	justify-content: space-between;
}
.ask_me_text{
	width: 40%;
}

#form{
	width: 55%;
	display: flex;
	flex-direction: column;

}

input, textarea{
	border:none;
	margin-bottom: 25px;
	padding: 10px;
	border-radius:2px;
}
input{
	min-height: 50px;
	max-height: 50px;
}
textarea{
	min-width: 100%;
	max-width: 100%;
	min-height: 150px;
	max-height: 150px;
}
::placeholder{
	font-family: 'arial', sanserif;
	font-size: 14px;
}
.send_btn{
	width:150px;
}

footer{
	color:#FFF;
	text-align: center;
	background:#222;
}
footer>p{padding: 20px;}

h1{
	font-family: 'Exo 2', sanserif;
	font-size: 3em;
}

.titulo{
	padding: 10px 10px 30px 10px;
}

p{
	font-family: 'Raleway', sanserif;
	font-weight: 600;
	font-size: 1.3em;
	line-height: 1.7em;
}