@charset "UTF-8";
/* CSS Document */
*{box-sizing:border-box}/*toma tamaño de pading interno*/
html,body{
	margin:0;
	padding:0;
	height:100%;
	width:100%; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	} /*--reset--*/
body{
	background-image:url(../img/testimonios-1000px-72ppi.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed; 
	margin:0px;
	padding:0px;
	min-height:100%;
	height:auto;
	position:relative
	}
#contenedor {
	width:1200px;
	height:100%;
	margin:0 auto;
	position:relative;
	padding-left:250px;
	z-index:1
	}
h1 {position:absolute;
	left:0;
	top:0;
	height:auto;
	width:250px;
	background-color:rgba(255,255,255,0.45);
	border-radius:0px 0px 15px 15px;
	box-shadow:5px 5px 25px rgba(0,0,0,0.50);
	}
h1 img{
	width:100%;
	display:block;
	}
header{
	position:relative;
	}
h2 {height:64px;
	width:100%;
	font-size:30px;
	color:#FFFFFF;
	text-transform:uppercase;
	background-color:rgba(0,0,0,0.45);
	text-indent:170px;
	line-height:64px;
	}
.newsletter {
	position:absolute;
	top:25px;
	right:50px;
	font-size:16px;
	color:#F7970A;
	padding:5px 7px;
	cursor:pointer;
	}
.newsletter:hover{
	background:#F7970A;
	color:#FEC414;
	border-radius:15px;
	color:#FFFFFF;
}
header nav ul {
	display:block;
	padding:3px 0px 0px 10px;
	}
header nav ul li {
	font-size:12px;
	text-transform:uppercase;
	text-align:center;
	width:16.66%;
	padding:0px 1px;
	float:left;
}
header nav ul li a{
	display:block;
	height:25px;
	color: white;
	background-color:rgba(0,0,0,0.45);
	border-radius:0px 0px 15px 15px;
	line-height:25px
	}
header nav ul li a:hover {
	background-color:#FEC414;}

.clear {clear:both}

.testimonios {
	height:auto;
	width:100%;
	margin:55px auto;
	padding:15px;
	}

.testimonios .relato {
	width:100%;
	height:auto;
	padding:10px;
	background-color:rgba(255,255,255,0.5);
	border-radius:10px;
	margin:10px 0px;	
	line-height:25px;
	}
.pict-mascota {
	padding:10px;
	position:relative;
	float:left;
	}
	
.texto-relato {overflow:hidden}

.pict-mascota img{
	width:100px;
	height:100px;
	border-radius:6px;
	}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	margin:5px;
	}
testimonios .relato p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:justify;
	}

.gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+9,1+95 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 9%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 9%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 9%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	height: 270px;
	width:100%;
	bottom:0px;
	z-index:0;
	}
.idioma {
	display:block;
	font-size:12px;
	line-height:25px;
	text-indent:5px;
	color:white;
	height:25px;
	width:64px;
	background-color:rgba(0,0,0, 0.45);
	position:absolute;
	top:0px;
	left:-45px;
	border-radius:12px 12px 0px 0px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
.idioma:hover {
	background-color:#FEC414;
	cursor:pointer;}
